.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.size {
	position: fixed;
	top: 0;
	left: 0;
}

section {
	float: right;
}

body {
	background: url(/src/images/img2.png) top left no-repeat, url(/src/images/img4.png) top right no-repeat,
		url(/src/images/img7.png) bottom left no-repeat, url(/src/images/img6.png) bottom right no-repeat,
		linear-gradient(to right, #43e97b 0%, #38f9d7 100%) repeat;
}
h1 {
	color: rgba(0, 0, 0, 0.6);
	text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2), 0px -5px 35px rgba(255, 255, 255, 0.3);
}
